@media (min-width: 768px) and (max-width: 1023px) {
    .center {
        padding-left: calc(50% - 384px);
        padding-right: calc(50% - 384px);
}

.header {
    background-image: none;
}

.header__title {
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
}

.header__big-star {
    height: 238.57px;
    left: 610px;
    top: -79.43px;
    position: absolute;
    display: block;
}

.header__mini-top-star {
    position: absolute;
    top: 64px;
    left: 91px;
    display: block;
}

.header__big-top-star {
    position: absolute;
    top: 97px;
    left: 37px;
    display: block;
}

.header__big-bottom-star {
    position: absolute;
    width: 39px;
    height: 41px;
    left: 604px;
    top: 580px;
    display: block;
}

.header__mini-bottom-star {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 573px;
    top: 557px;
    display: block;
}

    .header__link-box {
        display: flex;
        justify-content: center;
}

    .header__link-btn {
        display: block;
        box-sizing: border-box;
        border: 1px solid rgb(32, 32, 39);
        border-radius: 60px;
        background: rgb(32, 32, 39);
        color: rgb(255, 255, 255);
        font-family: "Montserrat", sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 141.69%;
        text-align: center;
        transition: all 0.5s;
        text-decoration: none;
        display: inline-block;
        width: 330px;
        font-size: 32px;
        padding: 9px 20px;
        height: 66px;
        
}

    .info {
        height: 3850px;
        background-image: none;
}

    .games-box {
        display: flex;
    justify-content: center;
}

    .games-box__product {
        width: 450px;
        height: 100%;
}

    .games-box__img {
        width: 450px;
        height: 350px;
}

    .games-box__grid {
        display: block;
}

    .flex-box {
        display: flex;
        flex-direction: column;
}

    .games-box__column {
        row-gap: 24px;  
        padding-top: 24px;
}

.game-play__big-top-star {
    display: none;
}

.game-play__mini-top-star {
    display: none;
}

    .game-play__product {
        flex-direction: column;
        max-height: 100%;
        width: 450px;
}

    .game-play__img {
        width: 450px;
        height: 400px;
}

    .game-play__box {
        width: 354px;
        height: 100%;
        order: 2;
}

.game-play__subtitle {
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    width: 400px;
}
.game-play__text {
    width: 400px;
}

.game-play__btn-box {
    display: flex;
    width: 365px;
}

.game-play__btn {
    width: 354px;
}

.game-play__flex {
    row-gap: 24px;
    padding-left: 159px;
    width: 445px;
}

.margin {
    margin-bottom: 64px;
}

.footer {
    height: 100px;
}

.footer__text {
    padding-top: 40px;
}
}