* {
  margin: 0;
  padding: 0;
}

.body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  height: 800px;
  background-color: rgb(225, 255, 143);
  background-image: url(img/bg-header.png);
  background-repeat: no-repeat;
  background-position: calc(50% + 270px) calc(50% - 125px);
}
.header__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  padding-top: 196px;
  padding-bottom: 24px;
}
.header__subtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 48px;
}
.header__link-btn {
  width: 247px;
  height: 66px;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  text-align: center;
  transition: all 0.5s;
  padding: 15px 20px;
  text-decoration: none;
  display: inline-block;
}
.header__link-btn:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(32, 32, 39);
  cursor: pointer;
}

.scroll-bar {
  height: 90px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  background: rgb(188, 236, 48);
  background-size: cover;
}

.info {
  height: 1420px;
  background: rgb(32, 32, 39);
  background-image: url(img/bg-games.png);
  background-repeat: no-repeat;
  background-position: calc(50% + 100px) calc(50% - 270px);
  padding-bottom: 50px;
}
.info__main-title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 24px;
  padding-top: 94px;
}
.info__main-subtitle {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.games-box {
  padding-top: 72px;
}
.games-box__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.games-box__column {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.games-box__link {
  text-decoration: none;
  color: rgb(32, 32, 39);
}
.games-box__product {
  border-radius: 30px;
  box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
  height: 473px;
  transition: all 0.5s;
}
.games-box__product:hover {
  transform: scale(1.05);
}
.games-box__img {
  width: 379px;
  height: 314px;
}
.games-box__section {
  padding: 32px 32px 36px 32px;
}
.games-box__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  padding-top: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding: 8px 16px 10px 16px;
  width: 82px;
}
.games-box__subtitle {
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  padding-top: 16px;
}

.games-box-tablet {
  display: none;
}

.info-tablet {
  display: none;
}

.header__big-star {
  display: none;
}

.header__mini-top-star {
  display: none;
}

.header__big-top-star {
  display: none;
}

.header__big-bottom-star {
  display: none;
}

.header__mini-bottom-star {
  display: none;
}

.small {
  height: 473px;
}

.big {
  height: 512px;
}

.big-big {
  height: 551px;
}

.small {
  height: 473px;
}

.game-play {
  background: rgb(32, 32, 39);
  border-top: 0.5px solid rgba(108, 106, 106, 0.803);
  position: relative;
}
.game-play__big-top-star {
  position: absolute;
  right: calc(100vh - 630px);
  top: 126px;
}
.game-play__mini-top-star {
  position: absolute;
  right: calc(100vh - 532px);
  top: 93px;
}
.game-play__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  color: rgb(255, 255, 255);
  padding-bottom: 72px;
  padding-top: 46px;
}
.game-play__flex {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.game-play__product {
  display: flex;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  transition: all 0.5s;
}
.game-play__product:hover {
  transform: scale(0.97);
}
.game-play__box {
  width: 600px;
  height: 404px;
  padding: 48px;
}
.game-play__subtitle {
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  width: 504px;
}
.game-play__text {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding-top: 24px;
  padding-bottom: 36px;
}
.game-play__btn {
  width: 247px;
  height: 66px;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  text-align: center;
  transition: all 0.5s;
}
.game-play__btn:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(32, 32, 39);
  cursor: pointer;
}
.game-play__img {
  width: 600px;
  height: 500px;
}

.margin {
  margin-bottom: 144px;
}

.footer {
  height: 150px;
  background: rgb(189, 237, 53);
  position: relative;
}
.footer__mini-bottom-star {
  position: absolute;
  right: calc(100vh - 532px);
  bottom: 180px;
}
.footer__big-bottom-star {
  position: absolute;
  right: calc(100vh - 630px);
  bottom: 210px;
}
.footer__text {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding-top: 61px;
}

@media (max-width: 767px) {
  .center {
    padding-left: calc(50% - 172px);
    padding-right: calc(50% - 172px);
  }
  .header {
    background-image: none;
    height: 649px;
  }
  .header__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    text-align: center;
    position: relative;
    padding-top: 147px;
  }
  .header__big-star {
    position: absolute;
    top: -100.43px;
    right: -90px;
  }
  .header__subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    padding-bottom: 36px;
    position: relative;
  }
  .header__mini-top-star {
    position: absolute;
    top: 64px;
    left: 91px;
  }
  .header__big-top-star {
    position: absolute;
    top: 97px;
    left: 37px;
  }
  .header__box {
    display: flex;
    justify-content: center;
  }
  .header__link-btn {
    font-size: 16px;
    position: relative;
  }
  .header__mini-bottom-star {
    position: absolute;
    bottom: 125px;
    right: 86px;
  }
  .header__link-box {
    display: flex;
    justify-content: center;
  }
  .header__link-btn {
    height: 55px;
    width: 285px;
  }
  .scroll-bar {
    height: 51px;
    position: relative;
  }
  .header__big-bottom-star {
    position: absolute;
    bottom: 79px;
    right: 34px;
  }
  .info {
    display: none;
  }
  .game-play {
    padding-bottom: 49px;
  }
  .game-play__big-top-star {
    display: none;
  }
  .game-play__mini-top-star {
    display: none;
  }
  .game-play__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .game-play__flex {
    row-gap: 24px;
  }
  .game-play__subtitle {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    width: 285px;
  }
  .game-play__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 16px;
    padding-bottom: 32px;
    max-width: 300px;
  }
  .game-play__product {
    flex-direction: column;
    max-height: 100%;
  }
  .game-play__link {
    height: auto;
  }
  .game-play__img {
    height: 285px;
    width: 344px;
    max-width: 100%;
  }
  .game-play__box {
    height: 100%;
    padding: 29.04px 29.04px 32.67px 29.04px;
    order: 2;
    width: auto;
  }
  .game-play__btn {
    width: 285px;
    height: 55px;
  }
  .margin {
    margin: 0;
  }
  .footer__big-bottom-star {
    display: none;
  }
  .footer__mini-bottom-star {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 384px);
    padding-right: calc(50% - 384px);
  }
  .header__title {
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
  }
  .header__link-box {
    display: flex;
    justify-content: center;
  }
  .header__link-btn {
    width: 330px;
    font-size: 32px;
    padding: 9px 20px;
  }
  .info {
    height: 3486px;
  }
  .games-box__product {
    width: 450px;
    height: 100%;
  }
  .games-box__img {
    width: 450px;
    height: 350px;
  }
  .games-box__grid {
    display: block;
  }
  .games-box {
    display: none;
  }
  .games-box-tablet {
    display: block;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    padding-bottom: 48px;
  }
  .info-tablet {
    display: block;
  }
  .info {
    display: none;
  }
  .info-tablet {
    background: rgb(32, 32, 39);
  }
  .flex-box {
    display: flex;
    flex-direction: column;
  }
  .games-box__column {
    row-gap: 24px;
    padding-top: 24px;
  }
  .game-play__product {
    flex-direction: column;
    max-height: 100%;
    width: 450px;
  }
  .game-play__img {
    width: 450px;
    height: 400px;
  }
  .game-play__box {
    width: 600px;
    height: 100%;
    order: 2;
  }
  .game-play__subtitle {
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    width: 400px;
  }
  .game-play__text {
    width: 400px;
  }
  .game-play__btn-box {
    display: flex;
    width: 350px;
    justify-content: center;
  }
  .game-play__flex {
    row-gap: 24px;
    padding-left: 159px;
  }
  .margin {
    margin-bottom: 64px;
  }
  .footer__mini-bottom-star {
    position: absolute;
    right: calc(100vh - 532px);
    bottom: 160px;
  }
}/*# sourceMappingURL=style.css.map */